<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean name="browserMobProxy" class="org.jspringbot.keyword.selenium.BrowserMobProxyBean">
    <constructor-arg ref="desiredCapabilities"/>
    <property name="enable" value="${selenium.browser.mob.proxy.enabled:false}"/>
    <property name="harDir" value="${selenium.browser.mob.proxy.har.save.dir:none}"/>
    <property name="excludeMimeTypePattern" value="${selenium.browser.mob.proxy.har.mime.type.exclude:none}"/>
    <property name="includeMimeTypePattern" value="${selenium.browser.mob.proxy.har.mime.type.include:none}"/>
    <property name="excludeUrlPattern" value="${selenium.browser.mob.proxy.har.url.exclude:none}"/>
    <property name="includeUrlPattern" value="${selenium.browser.mob.proxy.har.url.include:none}"/>
  </bean>
</beans>
