<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

  <import resource="spring-selenium-saucelabs-phone.xml"/>

  <bean id="webdriver" class="io.appium.java_client.ios.IOSDriver" destroy-method="quit">
    <constructor-arg type="java.net.URL" value="${selenium.saucelabs.url}"/>
    <constructor-arg ref="desiredCapabilities"/>
  </bean>
</beans>
